node_modules/
targets/
target/
modules/
build/
patch/
lib/
bin/
classes/
checkouts/
dbs/
logs/
docs/
cocos/

public/scripts/
public/ig/
public/c/
public/styles/
public/media/
public/pages/
public/extlibs/


*.class
*.asc
*.jar
*.zip
*.gz

.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

._.DS_Store
.DS_Store
.svn
.sass-cache
.nrepl*

